/* general */
body {
    background: #111;
    color: #fff;
    font-family: Outfit;
}

.mainTitle {
    text-align : center;
    margin-bottom: 2em;
}





/* project boards */
.projectsWrapper {
    padding: 2em;
}

#projects, #subProjects {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.projectBoard{
    border: 1px solid #503b15;
    width: 200px;
    height: auto;
    margin: auto;
    background: #11100d;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 1em;
    justify-content: flex-start;
    background: url('../img/boardBG.jpg') repeat;
}.projectBoard.tier1{
    height: auto;
}.projectBoard.tier1 h3{
    font-size: 1em;
    font-family: 'IBM Plex Serif';
    text-transform: uppercase;
    color: #bdbcb9;
    font-weight: bold;
}.projectBoard .projectBoardInner{
    padding: 10px;
    border: 1px solid #2a2827;
    height: 100%;
    margin: 5px;
}.projectBoard h3{
    text-align: center;
    font-size: 0.8em;
}#shoppingList h4, #activeProjects h4{
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
}#subProjects {
    margin-top: 1em;
    margin-bottom : 2em;
}#subProjects .projectBoardInner {
    height: 200px;
    position: relative;
}#subProjects .projectBoardInner:hover {
    border: 1px solid #5a5654;
}#subProjects .projectBoardInner h3{
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: 1em;
    bottom: 5px;
    left: 0;
    padding: 0 1em 0 1em;
}#subProjects .projectBoardInner h3:before{
    content: "Aquire and Deliver";
    display: block;
    font-size: 0.6em;
    color: #999385;
}#subProjects .projectBoardInner .projectBoardImg{
    text-align:center;
    display: block;
    margin: 20px auto 0;
    width: 100%;
}

/* active projects */
.activeProject {
    position: relative;
    border: 1px solid #2a2827;
    margin-bottom: 0.5em;
    padding: 1em;
    list-style: none;
}.activeProject:hover {
    border: 1px solid #bb993d;
    background: #bb993d9d;
}.activeProject-delete{
    cursor: pointer;
    position: absolute;
    top: 18px;
    right: 18px;
    font-size: 0.8em;
    color: red;
}.activeProject h3, .basketItem h3{
    font-size: 0.8em;
}

/* shoppingList */
#shoppingList{
    font-weight: bold;
    border: 1px solid #503b15;
    color: #fff;
    background: url('../img/boardBG.jpg') repeat;
}#shoppingList h4{
    margin-top: 1em;
}#shoppingList .basketItems{
    padding: 2em;
}#shoppingList .basketItems li{
    list-style: none;
    margin-bottom: 1em;
    font-size: 1.4em;
    border-bottom: 1px solid #2a2827;
}#shoppingList .basketItems li .basketQty{
    font-size: 1.6em;
}#shoppingList .basketItems li .basketName{
    margin-left: 0.5em;
}